body, html {
  height: 100%; }

.carousel-caption {
  transform: translateY(-50%);
  bottom: 0;
  top: 50%; }

.carousel-inner {
  width: 100%; }

.carousel-item img {
  height: 500px !important; }

.color-to-pink #collapseCards .card .card-body {
  background-color: lightpink; }

.color-to-pink #collapseCards .card .card-text:before {
  content: ""; }

.color-to-pink #collapseCards .card .card-text:after {
  content: "\a\a This text added via CSS.";
  white-space: pre; }

.color-to-green #collapseCards .card .card-body {
  background-color: lightgreen; }

.color-to-green #collapseCards .card .card-text {
  font-weight: bolder; }

.color-to-blue #collapseCards .card .card-body {
  background-color: lightblue; }

.color-to-blue #collapseCards .card .card-text {
  font-style: italic; }
